.sitehead {
  text-align: center;
  font-style: oblique;
}

.border-between > [class*='col-']:before {
 background: #FF8C00;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 3px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.delete {
  background-color: #DD7722;
  display: inline;
  margin-left: 70%;
  margin-top: -9%;
}
